* {
  margin: 0;
}

.carrito {
  text-align: center;
  width: 100%;
  text-transform: capitalize;
  margin-top: 50px;
  background-color: white;
}

.carrito h2 {
  margin-top: 50px;
  text-align: center;
  font-size: 35px;
  color: #5c9df2;
  margin-bottom: 40px;
}

.itemsCarrito {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
}

.cartItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 330px;
  height: 150px;
  background-color: white;
  border-radius: 5%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.cartItem img {
  width: 150px;
  height: 150px;
  margin-right: 20px;
  border-radius: 5px;
  object-fit: fill;
}

.descripciónCart {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.descripciónCart p {
  margin: 0;
  font-size: 16px;
  justify-content: center;
}

.AñadirOEliminar {
  display: flex;
  align-items: center;
  margin-top: 10px;
  background-color: white;
}

.AñadirOEliminar button {
  border: none;
  background-color: transparent;
  font-size: 16px;
  padding: 0 10px;
  cursor: pointer;
  background-color: white;
}

.AñadirOEliminar input {
  width: 40px;
  height: 30px;
  text-align: center;
  border: none;
  border-radius: 5px;
  margin: 0 10px;
}
