* {
  margin: 0;
}

.carrito {
  text-align: center;
  width: 100%;
  text-transform: capitalize;
  margin-top: 20px;
}

.carrito h2 {
  margin-top: 50px;
  text-align: center;
  font-size: 25px;
  color: #4f5902;
  margin-bottom: 50px;
}

.itemsCarrito {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cartItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 350px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.961);
  border-radius: 5%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.cartItem:hover {
  transform: translateX(5px);
  background-color: rgba(0, 0, 0, 0.1);
}

.cartItem img {
  width: 150px;
  height: 150px;
  margin-right: 20px;
  border-radius: 5px;
}

.descripciónCart {
  display: flex;
  flex-direction: column;
  background-color: #4f5902;
}

.descripciónCart p {
  margin: 0;
  font-size: 16px;
  justify-content: center;
}

.AñadirOEliminar {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.AñadirOEliminar button {
  border: none;
  background-color: transparent;
  font-size: 16px;
  padding: 0 10px;
  cursor: pointer;
}

.AñadirOEliminar input {
  width: 40px;
  height: 30px;
  text-align: center;
  border: none;
  border-radius: 5px;
  margin: 0 10px;
}
