body {
  background-color: #ffffff84;
}

.Shop_Banner {
  display: grid;
  height: 350px;
  width: 100%;
  place-items: center;
  text-align: center;
  background-image: url(../../../public//img/ShopBanner.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
}
.tiendaTitle {
  margin-top: 20px;
  width: 500px;
  margin-left: 500px;
  text-align: justify;
  font-size: 25px;
  color: #5c9df2;
  margin-bottom: 50px;
  z-index: 100;
  font-family: "IM Fell French Canon", serif;
}
.tiendaDesc {
  width: 500px;
  margin-top: -130px;
  margin-left: 500px;
  text-align: left;
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 50px;
  z-index: 100;
  font-family: "Times New Roman", Times, serif;
}

.Shop_Banner::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.509);
}

.productosEs {
  margin-top: 50px;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.productoCu {
  width: auto;
  height: 300px;
  margin: 20px;
  padding: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  border-radius: 10%;
  background-color: #f2f2f2;
}

.productoCu:hover {
  transform: translateX(5px);
  background-color: #5c9df2;
  color: #070707;
}

.descripciónProd p {
  padding: 5px;
}

.productoCu img {
  width: 200px;
  height: 200px;
  border: 10px;
  border-radius: 10px 10px 0 0;
}
.btn_agregar {
  border: 1px solid#0d203684;
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.btn_agregar:hover {
  background-color: #0d203684;
  color: #f2f2f2;
}
