body {
  background-color: #bfab9984;
}

.tiendaTitle {
  margin-top: 50px;
  text-align: center;
  font-size: 25px;
  color: #4f5902;
  margin-bottom: 50px;
}
.productosEs {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.productoCu {
  width: auto;
  height: 300px;
  margin: 20px;
  padding: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  border-radius: 10%;
}

.productoCu:hover {
  transform: translateX(5px);
  background-color: rgba(0, 0, 0, 0.1);
}

.descripciónProd p {
  padding: 5px;
}

.descripciónProd p btn_agregar {
  background-color: antiquewhite;
}

.productoCu img {
  width: 200px;
  height: 200px;
  border: 10px;
  border-radius: 10px 10px 0 0;
}
.btn_agregar {
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
}
